*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-color:#0B1D26;
    

}

header a{
    text-decoration:none;

    font-family: Gilroy;
    font-style: normal;
    font-size: 13px;
    line-height: 22px;

}
header a:hover{
    animation-name: ahover;
    animation-duration: 0,7s;
    animation-fill-mode: forwards;
}
@keyframes ahover{
    0%{
        font-size: 13px;
    }
    100%{
        font-size: 14px;
    }
}
header a:link, a:visited, a:hover {
    color: #FFFFFF;
}
.footer2 a{
    text-decoration:none;
    margin-bottom:16px;
}
.footer2 a:link, a:visited, a:hover {
    color: #FFFFFF;
}

.bigsec{
    
    background-image: url(HG.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    padding-top:64px; 
    
    animation-name: size;
    animation-direction:1s ;
}
@keyframes size{
    0%{
        width: 10%;
    }
    100%{
        width: 100%;
    }
}

header{
    height: 25px;
    padding-right:4%;
    padding-left:4%;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
nav{
    width: 201px;
    height: 22px;

    display: flex;
    justify-content: space-between;
       
}
.account{
    width: 98px;
    height: 24px;
    
    display: flex;
    align-items: center;
}



.section1{
    margin: 198px 80px 0px 80px;

    display:flex;
    justify-content: space-between;


}
.follow{
    width: 24px;
    height: 173px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    writing-mode: vertical-lr;

    display: flex;
    flex-direction:row;
    justify-content: space-between;

}
.content1{
    width: 60%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;   
    
    animation-name: circle;
    animation-duration: 2s;
    animation-fill-mode:forwards;

    opacity: 0;
    transition: 0,5s;
   
    
}

@keyframes circle {
    0% {
       opacity: 0;
        margin-top: -100px;

    }
    100%{
        opacity: 1;
        margin-top: 0px;

    }
}
hr{
    width: 72px;
    color: #FBD784;
    background: #FBD784;
    height: 2px;
    margin-right:32px ;
}
.contbox1{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.scroll{
    width: 77px;
    height: 240px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contbox2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;

}
.contbox3{
    width: 126px;
    height: 24px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    width: 155px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    border: none;
    background-color: transparent;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 16px;

    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}


.section2 {
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 76%;
}
.sec2box1 {

    margin: 200px auto;
    width: 70%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.sec2box1 img{
    max-width: 49%; 
    margin-left: 27%;
}


.sec2box2 {
    margin: 200px auto;

    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.sec2box2 img{
    max-width: 49%; 
    margin-right: 27%;

}
.txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

}
.cont{
    
    height: 439px;
    margin-left: 30;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

}


.txt01{
    position: absolute;
    top:-120;
    left:-140;


    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}
.p1{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.p2{
    font-size: 300%;
    height: 154px;
    font-family:'Playfair Display', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 77px;
    color: #FFFFFF;
}
.p3{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 32px;
    color: #FFFFFF;
}
.buttonp{
    color: #FBD784;
}


footer{
    
    height: 280px;

    margin:0 auto;
    padding:0 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer1{
    height: 280px;
    width: 353px;

    display: flex;
    flex-direction: column;
    
}
.footerp1 p{
    margin-top: 24px;
}
.footerp1{
    width: 303px;
    height: 126px;



    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;

    margin-bottom: 122px;
}
.footerp2{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;

    
}
.footerh1{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin-bottom:24px;
}
.footer2{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    
}

@media (max-width:2370px) {
    .p2{
        line-height: 47px;
    }
}
@media (max-width:1108px) {
.p2{
    line-height: 49px;
}
}

@media (max-width:980px) {
    nav{
        width: 273px;
    }
    header a{
        font-size: 21px;
    }
    .account {
        width: 121px;
    }
    .contbox2{
        line-height: 80px;
        font-size: 75px;
    }
    .sec2box2{
        flex-direction: column;
        align-items: end;
    }
    .sec2box2 img{
        margin-right: 0;
    }
    .sec2box1{
        flex-direction: column;
        align-items: end;
    }
    .sec2box1 img{
        margin-left: 0;
    }
    .p3{
        font-size: 127%;
    }
    .cont{
        margin-left: 0;
    }
    .footer2{
        margin-left: 20px;
        line-height: 22px;
    }
    .footerp2{
        line-height: 27px;
    }
}

/*@media (max-width:575px){
}